html
  head
    title= title
    link(rel="stylesheet", href="css/style2.css")
  body
  header 
    div(class="nav-wrapper") 
            div(class="left-side") 
                div(class="logo") 
                    div Smile Game

            div(class="right-side") 
                div(class="nav-link-wrapper active-nav-link")
                    <a href="smile.pug">Play</a>
    h1= message
    <div class="content-wrapper">
        <h1>Login Here</h1>
        p(id="notify") 
        <form method='post' action='/login'>
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Your username...">
            <label for="password">Password</label>
            <input type="text" name="password" placeholder="Your password...">
            <input type="submit" value="login">
        </form>
    </div>
  footer 
      div(class="footer-logo") 
        div(class="logo") 
          div Smile Game

      div(class="footer-links") 
        div(class="footer-link-wrapper")
          <a href="smile.pug">Play</a>  